

<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <strong class="pull-right site-title">Jennifer Bland</strong>
    </div><!--/.nav-collapse -->
  </div>
</nav>



  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="http://www.jenniferbland.com/wp-content/uploads/Jennifer-Bland-headshot.png" class="img-responsive"  200px;alt="Jennifer Bland" />
        </div>
        <div class="col-md-9">
          <p>I am an Entrepreneur. Mountain Climber. Neil Diamond fanatic. Front-end and full stack Software Engineer with over 10 years of development experience. MBA grad. World traveler.</p>
          <p>This is my coding portfolio. It shows samples of work that I have created in many different programming languages.</p>
        </div>
      </div>
    </div>
  </div><!-- jumbotron -->


<div class="container">

  <footer class="footer">
    <p class="pull-right">
      <i class="glyphicon glyphicon-asterick"></i>
      <i class="glyphicon glyphicon-linkedin"></i>
      <i class="glyphicon glyphicon-facebook"></i>
    </p>
    <p class="pull-right">&copy; 2015 Jennifer Bland</p>
  </footer>

</div> <!-- /container -->