  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="http://www.jenniferbland.com/wp-content/uploads/Jennifer-Bland-headshot.png" class="img-responsive"  200px;alt="Jennifer Bland" />
        </div>
        <div class="col-md-9">
          <p>I am an Entrepreneur. Mountain Climber. Neil Diamond fanatic. Front-end and full stack Software Engineer with over 10 years of development experience. MBA grad. World traveler.</p>
          <p>This is my coding portfolio. It shows samples of work that I have created in many different programming languages.</p>
        </div>
      </div>
    </div>
  </div><!-- jumbotron -->