  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="http://www.jenniferbland.com/wp-content/uploads/Jennifer-Bland-headshot.png" class="img-responsive"  200px;alt="Jennifer Bland" />
        </div>
        <div class="col-md-9">
          <p>I am an Entrepreneur. Mountain Climber. Neil Diamond fanatic. Front-end and full stack Software Engineer with over 10 years of development experience. MBA grad. World traveler.</p>
          <p>This is an example of a portfolio website created in Rails 4. It demonstrates multiple routes, database and forms. You can <a href="https://github.com/ratracegrad/rails-sample-coding-portfolio">view source code on github</a>.</p>
        </div>
      </div>
    </div>
  </div><!-- jumbotron -->

  <div class="container">
    <div class="row">
      <p>This is a sample Rails 4 application. It demonstrates how to create multiple routes, use of a database to store information and forms.</p>
      <p>Currently this application uses routes to display the sample portfolio page, the about page and the contact page. It uses a link to my external Blog on another website.</p>
      <p>The contact page uses a form to capture the users name, email address, subject and message. This information is then stored in a database on the server</p>
    </div>
  </div>