<section class="about">
  <div class="container">

    <div class="row about-image">
      <img src="http://www.jenniferbland.com/wp-content/uploads/About-Jennifer-Bland1.png" class="image-responsive" alt="About Jennifer Bland" />
    </div>

    <div class="row title">
      <h1>About Me</h1>
    </div>

    <div class="row">
      <p>Let me give you some interesting insights about me:

        <ul>
          <li>I have visited 68 countries</li>
          <li>I have climbed the highest mountain on 4 of the 7 continents</li>
          <li>I have worked and/or lived on 3 continents</li>
          <li>My cat is 22 years old</li>
          <li>My website was voted One of the Top 25 Affiliate Marketing Blogs of 2013</li>
        </ul>
      </p>

      <p>After graduating from University in 1984, I went to work in the Customer Service department for
        DCA in Alpharetta, Georgia. I was responsible for the support for their IRMA product which connected
        IBM PCs to IBM System 390 Mainframe Computers. During this time Apple Computer white-labeled the IRMA
        product and I spent my time criss crossing the US to handle trade shows demonstrating the product.
      </p>

      <p>Within a year Apple hired me and moved me out to California. During my initial interview at Apple I
        was able to meet John Sculley Apple’s President and CEO. While I was at Apple Computer I created the
        very first telephone support program. This paid support program was for MacTCP. It was later expanded
        for support for MacIRMA and A/UX which is Apple’s implementation of Unix.
      </p>

      <p>For anybody in the technology industry, working for Apple Computer in Silicon Valley was a dream job!
        I was so excited about the opportunity. The only problem was that I arrived in Silicon Valley just a
        few short months before the Loma Prieta earthquake in 1989. After that experience I immediately started
        making plans to move back home to Georgia. Luckily I was able to transition to Sales with Apple Computer
        and was transferred to the Atlanta, GA office.
      </p>

      <p>Coca Cola was one of my assigned accounts in Sales. Apple had just released the Newton which was the
        first hand-held PDA device. I would demonstrate the capability of the Newton to the executives at Coca Cola.
        Coke decided to create an application that would be used by their route sales team and their delivery
        drivers to control inventory and orders. The only thing they were missing was a Project Manager. Coke
        hired me away from Apple Computer to create this application.
      </p>

      <p>If you every saw or used the Newton PDA you might remember the heavy-duty case that Apple sold. This
        case was designed by me in response to problems we encountered with our delivery drivers. When you have
        several thousand delivery drivers using your application and you end up with 10-20 of them being returned
        as non-functional every day then you have to figure out why.
      </p>

       <p>I went out with a delivery driver one day and it took less than an hour to discover the cause of all
         the returned units. Those big Coca-Cola delivery trucks have zero padding or floor mats in them. Plus
         you have to literally climb up a ladder to get into the driver’s seat. The delivery drivers would open
         the door and then throw the Newton into the cab. While they were driving between locations the Newton
         would bounce up and down on the metal floors. As a result we created a custom case with a flip closing
         lid. Apple loved it and licensed the design from Coke.
       </p>

       <p>While working at Coke I read about the JET Program. This program brings people to Japan to teach English.
         Of all the Asian countries, Japan ranked 2nd worst in the ability of their citizens to speak English.
         When I got accepted into the program, I moved to Japan to live and teach English.
       </p>

       <p>At this point you can figure out the rest of my story by <a href="http://www.jenniferbland.com/resume/">reading my resume here</a>.</p>
    </div>

  </div>
</section>