// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact .title {
  background-color: #334759;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
.contact p {
  margin: 20px 10px;
  font-size: 18px;
}
.contact hr {
  border-top: 1px solid #b1b1b1;
}