// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-fixed-top {
  background-color: #fff;
}
.site-title {
  padding-top: 15px;
  font-size: 18px;
}
.jumbotron {
  margin-top: 50px;
  img {
    border-radius: 50%;
    border: 1px solid #313131;
    width: 300px;
    float: left;
  }
}
p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}